services:
    admin:
      build: ./admin-modules
      container_name: admin
      restart: unless-stopped
      env_file: .env
      networks:
          - app-network
    
    extraction:
      build: ./extraction-modules
      container_name: extraction
      restart: unless-stopped
      env_file: .env
      networks:
          - app-network

    nginx:
      image: nginx:latest
      container_name: production_nginx
      restart: always
      ports:
          - "80:80"
          - "443:443"
      volumes:
          - ./nginx-modules:/etc/nginx/conf.d:ro

networks:
  app-network:
    driver: bridge